# Byte-compiled
__pycache__/
vendor/__pycache__/

# Config, data and cache
config/
config.create.yaml
config.edit.yaml
config.yaml
data/
data.nc
constants.nml
cache/
scratch/
*.sh

# IDEs
.idea
.vscode/
