# Byte-compiled, dists
__pycache__/
vendor/__pycache__/
dist/

# Config, data and cache
config/
config.create.yaml
config.edit.yaml
config.yaml
data/
data.nc
constants.nml
scratch/

# IDEs
.idea
.vscode/
