# Byte-compiled, dists, builds etc
__pycache__/
vendor/__pycache__/
dist/
output/

# Config, data and cache
config/
config.create.yaml
config.edit.yaml
config.yaml
data/
data.nc
constants.nml
dem.tif
scratch/

# IDEs
.idea
.vscode/

# pixi environments
.pixi
*.egg-info
